<h1>Burgers!</h1>

<h2>Burgers that are Delicious!</h2>

<ul>
  {{#each Burgers}}
    {{#unless Delicious}}
      {{> Burgers/Burger-block Delicious=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are Yummy!</h2>

<ul>
  {{#each Burgers}}
    {{#if Yummy}}
      {{> Burgers/Burger-block Yummy=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Cat Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="delicious">Delicious?</label><br>
    <input type="radio" name="delicious" value="1" checked> Delicous!<br>
    <input type="radio" name="delicious" value="0"> Yummy
  </div>

  <button type="submit">Add Burger</button>
</form>
